body{
  font-family: 'Quicksand', sans-serif;
}
.container-header{
  position: relative;
  display: flex;
  background-color: #b1cf77;
  height: 120px;
   align-items: baseline;
}
.container-header h1{
  align-self: center;
  width: 50%;
  padding-left:50px;
  font-size: 2em;
  color: white;
}

.container-header ul{
  position: absolute;
  bottom: 0px;
  right: 40px;

  align-self: center;
  display: flex;


  font-size: 1.2em;
  color: white;

  list-style: none;

}
.container-header ul li{
  padding-left: 60px;
}

#location-nav{
  padding: 10px;
  text-decoration: underline;
}

#window{
  width: 800px;;
  height: 450px;
  margin: auto;
  margin-top: 50px;
  overflow: hidden;
  background-color: red;
}
#sky{
  height: 200px;
  background: -webkit-linear-gradient(rgb(109, 104, 114),rgb(237,168,168));
  overflow: hidden;
  position: relative;
  /* background: -moz-linear-gradient(#6d6872,#eda8a8 );
  background: -o-linear-gradient(#6d6872,#eda8a8 );
  background: linear-gradient(#6d6872,#eda8a8); */

}
#stars{
  background: url("images/stars.png" );
  background-repeat: y;
  opacity: 0;
  height: 200px;
  z-index: 2;
}
#sun{
  position: absolute;
  width: 30px;
  height: 30px;
  top: -30%;
  left:65%;

  background: rgb(230,230,130);
  border-radius: 100%;
  box-shadow: 0 0 50px yellow;
}
#further{
  position: relative;
  height: 60px;
  background-color: rgb(215,220,210);
}
#garden{
  position: relative;
  height: 200px;
    background-color: rgb(190,200,180);
}
#waterTower::after{
  content: " ";
  position: absolute;
  top: -5px;
  left: -23px;
  height: 5px;
  width: 50px;
  z-index:5;
  border-bottom: 7px solid rgb(175,175,175);
  color: currentColor;
  border-radius: 40px;




}
#waterTower{

  position: absolute;
  top: -100px;
  left: 243px;
  height: 100px;
  z-index: 5;
  width: 5px;
  border-right: 4px solid currentColor;
  border-left: 4px solid currentColor;
  color: rgb(250,250,250);
  border-radius: 20%;

}
.pillar{

  position: absolute;
  top: -100px;
  left: 230px;
  height: 100px;
  z-index: 0;
  width: 5px;
  border-right: 5px solid currentColor;
  color: rgb(240,240,240);
  border-radius: 20%;

}
.pillar::before{
  content: "";
  position: absolute;
  top: 0px;
  left: 24px;
  height: 100px;
  z-index: 0;
  width: 5px;
  border-right: 5px solid currentColor;
  color: rgb(240,240,240);
  border-radius: 20%;

}
#waterTower::before{
  content: " ";
  position: absolute;
  left: -18px;
  bottom: 80px;
  width: 40px;
  height: 35px;
  color: rgb(240,240,240);
  z-index:2;
  background-color: currentColor;
  border-radius: 15px;
}
.pillar2{
  position: absolute;
  top: -80px;
  left: 250px;
  height: 16px;
  width: 1px;
  z-index: 6;
  transform: rotate(-45deg);
  transform-origin: 50% 50%;
  rotation-point 50% 50%;

  color: rgb(240,240,240);
  background-color: currentColor;

  box-shadow: -5px 5px,
              -10px 10px,
              -15px 15px,
              -20px 20px,
              -25px 25px,
              -30px 30px,
              -35px 35px;

}
.pillar2::after{
  content: "";
  position: absolute;
  top: 0px;
  left: -2px;
  height: 13px;
  width: 1px;
  z-index: 8;
  transform: rotate(90deg);
  transform-origin: 50% 50%;

  color: rgb(230,230,230);
  background-color: currentColor;

    box-shadow: 5px 5px,
                10px 10px,
                15px 15px,
                20px 20px,
                25px 25px,
                30px 30px,
                35px 35px;
}
#fence{
  position: absolute;
  left: 5px;
  bottom: 0px;
  width: 8px;
  height: 40px;
  color:rgb(245,245,230);
  background-color: currentColor ;
  border: 1px solid currentColor ;
  border-radius: 3px;

  box-shadow:
  30px 0px currentColor ,
  60px 0px currentColor ,
  90px 0px currentColor ,
  120px 0px currentColor,
  150px 0px currentColor ,
  180px 0px currentColor ,
  210px 0px currentColor ,
  240px 0px currentColor ,
  270px 0px currentColor ,
  300px 0px currentColor ,
  330px 0px currentColor ,
  360px 0px currentColor ,
  390px 0px currentColor ,
  420px 0px currentColor ,
  450px 0px currentColor ,
  480px 0px currentColor ,
  510px 0px currentColor ,
  540px 0px currentColor ,
  570px 0px currentColor,
  600px 0px currentColor,
  630px 0px currentColor,
  660px 0px currentColor,
  690px 0px currentColor,
  720px 0px currentColor,
  750px 0px currentColor,
  780px 0px currentColor;
}
#fence::before{
  content: " ";
  position:absolute;
  top: 10px;
  left: -15px;
  width: 830px;
  height: 10px;
  border-bottom: solid 2px currentColor;
  background-color: currentColor;
  border-radius: 5px;
}
.tree1{
  position: absolute;
  top: -110px;
  left: 60px;
  height: 120px;
  width: 120px;
  color: rgb(155,125,145);
  border: solid 2px currentColor;
  border-radius: 50%;
  background-color: currentColor ;
  z-index: 4;

  box-shadow: 50px 35px 0px -38px currentColor,
              55px 10px 0px -30px currentColor,
              20px -30px 0px -25px currentColor,
              -20px -45px 0px -35px currentColor,
              -20px -45px 0px -35px currentColor,
              -50px -20px 0px -38px currentColor,
              -50px 20px 0px -25px currentColor;
}
/* .tree1::after{
  content: " ";
  position:absolute;
  top: 20px;
  left: 20px;
  width: 6px;
  height: 6px;
  color: rgb(250,250,250);
  background-color: currentColor;
  border-radius: 50%;
  box-shadow: 5px 3px,
              5px 8px,
              -2px 11px,
              -4px 6px;
} */
.tree2{
  position: absolute;
  top: -120px;
  left: 300px;
  height: 55px;
  width: 45px;
  color: rgb(155,125,145);
  border: solid 2px currentColor;
  border-radius: 50%;
  background-color: currentColor ;

  box-shadow: 30px 30px 0px 0px currentColor,
              35px 77px 0px 10px currentColor,
              -20px 75px 0px 10px currentColor,
              -20px 25px 0px 0px currentColor,
              -10px 40px 0px 0px currentColor,
              5px 68px 0px 20px currentColor;
}
.tree3{
  position: absolute;
  top: -130px;
  left: 500px;
  color: rgb(155,125,145);
  border-bottom: solid 180px currentColor;
  border-left: solid 60px transparent;
  border-right: solid 60px transparent;
  border-radius: 40px;
}
.tree4{
  position: absolute;
  top: -110px;
  left: 650px;
  color: rgb(155,125,145);
  border-bottom: solid 60px currentColor;
  border-left: solid 40px transparent;
  border-right: solid 40px transparent;
  border-radius: 40px;
}
.tree4::before{
  content: " ";
  position: absolute;
  top: 30px;
  left: -55px;
  color: currentColor;
  border-bottom: solid 70px currentColor;
  border-left: solid 55px transparent;
  border-right: solid 55px transparent;
  border-radius: 40px;

}
.tree4::after{
  content: " ";
  position: absolute;
  top: 68px;
  left: -70px;
  color: currentColor;
  border-bottom: solid 80px currentColor;
  border-left: solid 70px transparent;
  border-right: solid 70px transparent;
  border-radius: 40px;
}
.tree5{
  position: absolute;
  top: 10px;;
  left: 0;
  width: 150px;
  height: 120px;
  color: green;
  background-color:currentColor;
  border-radius: 50% 50% 50% 50%/ 60% 60% 40% 40%;
}

.tree6{
  position: absolute;
  top: 10px;;
  left: 150px;
  width: 120px;
  height: 200px;
  color: green;
  background-color: currentColor;
  border-radius: 50% 50% 50% 50%/ 70% 70% 20% 20%;
}
#tree1-2{
  left: 160px;
  top: -80px;
  color: red;
  z-index: 6;
  transform: scale(0.8);
}
#tree1-3{
  left: 350px;
  top: -60px;
  color: green;
  transform: scale(0.8);
}
#tree1-4{
  left: 540px;
  top: -70px;
  color: green;
  transform: scale(0.9);
}
#tree2-1{
  top: -150px;
  left: 380px;
  color: pink;
  transform: scale(1.3);
}
#tree2-2{
  top: -100px;
  left: 420px;
  color: olive;
  z-index:2;
  transform: scale(0.9);
}
#tree2-3{}
#tree2-4{}
#tree2-5{}
#tree3-1{
  top: -180px;
  left: 0px;
  color: blue;
  transform: scale(1);
}
#tree3-2{
  top: -190px;
  left: -30px;
  color: purple;
  transform: scale(1.2);
}
#tree3-3{
  left: 110px;
  top: -180px;
  color: pink;
  transform: scale(0.8);
}
#tree3-4{
  left: 720px;
  top: -160px;
  color: olive;
  transform: scale(1.2);
}
#tree3-5{
  left: 670px;
  top: -140px;
  color: green;
  transform: scale(1.1);
}
#tree3-6{
  left: 380px;
  top: -120px;
  transform: scale(0.8);
  color: olive;
  display: none;
}
#tree3-7{
  left: 540px;
  top: -150px;
  transform: scale(1.1);
  color: red;
}
#tree3-8{
  left: 580px;
  top: -150px;
  transform: scale(0.8);
  color: pink;
}
#tree4-1{
  left: 90px;
  top:-125px;
  color: orange;
  z-index: 5;
}
#tree4-2{
  left: -50px;
  top:-160px;
  color: orange;
  z-index: 2;
  transform: scale(1.2);
}
#tree4-3{
  left: 160px;
  top:-140px;
  color: yellow;
  z-index: 4;
  transform: scale(1.1);
}
#tree4-4{
  left: 330px;
  top:-110px;
  color: blue;
  transform: scale(1);
}

#tree4-5{
  left: 630px;
  top:-120px;
  color: purple;
}
#tree4-6{
  left: 670px;
  top:-100px;
}
#tree5-1{
  top: -40px;
  left: -20px;
  color: olive;
  z-index:6;
  transform: scale(1.2);
}
#tree5-2{
  top: -10px;
  left: 70px;
  color: pink;
  z-index:6;
  transform: scale(1.1);
}
#tree5-3{
  top: 60px;
  left: -30px;
  color: yellow;
  z-index:7;
  transform: scale(1.7);
}
#tree5-4{
  top: 0px;
  left: 650px;
  color: yellow;
  z-index:7;
  transform: scale(1.1);
}
#tree5-5{
  top: 70px;
  left: 720px;
  color: orange;
  z-index:7;
  transform: scale(1.5);
}
svg{
  position: absolute;
  z-index: 10;
  left: 300px;
  top: 120px;
  transform:scale(2.5);
}
.leaves{
  position: absolute;
  top: 30px;
  left: 250px;
  transform:scale(1.1);
}
.flower2{
  left: 360px;
  top: 100px;
  opacity: 0.9;
  transform: scale(2);
}
.flower3{
  top: 80px;
  left: 320px;
  opacity: 0.6;
}
.flower4{
  left: 270px;
  top: 100px;
  opacity: 0.7;
}
.leave2{
  position: absolute;
  left: 230px;
  top: 60px;
  transform:scale(0.6);
  transform: rotate(200deg);
  z-index: 1;
  opacity: 0.6;
}
.leave3{
  position: absolute;
  left: 220px;
  top: 90px;
  transform:scale(1);
  transform: rotate(180deg);
  z-index: 2;
  opacity: 0.6;
}
#nameAndWeather{
  position: absolute;
  border-radius: 30px;
  top: 70px;
  left: 390px;
  width: 240px;
  height: 110px;

  background-color: rgb(235,235,240);
  z-index: 2;
}
#location{
  padding-top: 20px;
  margin-top: 0;
  margin-bottom: 0px;
  line-height: 0.6em;
  padding-left:50px;
  font-size: 2em;
    font-weight: 600;
    color:rgb(130,130,130);
}
#time{
  float:left;
  margin-top: 0;
  padding-top: 5px;
  line-height: 1em;
  font-size: 1.2em;
  padding-left:50px;
  color:rgb(150,150,150);

}
#temperature{
  float: right;
  margin-top: 0;
  padding-top: 5px;;
  line-height: 1em;
  font-size: 1.2em;
  padding-right:30px;
  color:rgb(150,150,150);

}
#input-loc{
  width: 100px;
}
button{
  padding-left:10px;
  margin-left:10px;
  display: none;

  position: absolute;


}
#loc{
  position: relative;
  left: -50px;

}
#weather-icon{
  position: absolute;
  top: -30px;
  left: 0px;
  z-index: 999;


}
#rain{
  opacity: 0.2;
  display: none;
}
#clouds{
  opacity: 0.5;
  position: absolute;
  float: left;
  display: none;

}
#window{
  position: relative;
}
